<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Robinhood Portfolio</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Michael Streyle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'dividends' %}">Dividends</a>
          <a class="nav-item nav-link" href="{% url 'Recommendations' %}">Recommendations</a>
          <a class="nav-item nav-link" href="http://twitter.com/MichaelStreyle">Twitter</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main"  style="background-color:rgb(39, 189, 47);">

    <section class="jumbotron text-center"  style="background-color:rgb(39, 189, 47);">
      <div class="container">
        <h1 class="jumbotron-heading">Robinhood Dividend Investing Overview</h1> <br>
        <p class="lead text-muted">Welcome to my dividend investing portal, where there is no temptation to sell!</p>
      </div>
    </section>

    <div class="album py-5 bg-dark">
      <div class="container">
        <h2 style="text-align:center;color:white">Total Value</h2>
        <br>
        <div class="row ">

          <div class="col-md-10">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                {% with value.all|first as first_object %}
                <h3 class="card-text"> Account Value:   $ {{ first_object.equity }} </h3>                         
                <h3 class="card-text"> Cash:   $ {{ first_object.cash }} </h3> <!-- |floatformat:2-->
                {% endwith %} 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="album py-5 bg-dark">
      <div class="container">
        <h2 style="text-align:center;color:white">Current Holdings</h2>
        <br>
        <div class="row">

          {% for stock in holdings.all %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h4 class="card-text">{{ stock.ticker }} : {{ stock.current_price |floatformat:2}} </h4>
                <p class="card-text"> Equity: {{ stock.equity |floatformat:2}} </p>
                <p class="card-text"> Quantity: {{ stock.quantity |floatformat:2}} </p>
                <p class="card-text">Avg Cost: {{ stock.avg_cost |floatformat:2}} </p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Michael Streyle {% now "Y" %}</p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>