<!doctype html>
<html lang="en">
<head>


  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Robinhood Portfolio</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Michael Streyle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'dividends' %}">Dividends</a>
          <a class="nav-item nav-link" href="{% url 'Recommendations' %}">Recommendations</a>
          <a class="nav-item nav-link" href="http://twitter.com/MichaelStreyle">Twitter</a>
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <main role="main"  style="background-color:rgb(39, 189, 47);">

    <section class="jumbotron text-center"  style="background-color:rgb(39, 189, 47);">
      <div class="container">
        <h1 class="jumbotron-heading">Robinhood Dividend Investing Overview</h1> <br>
        <p class="lead text-muted">Welcome to my dividend investing portal, where there is no temptation to sell!</p>
        <br>
        <form action="#" method="get">
          <input type="submit" class="btn" value="Update" name="update">
         </form>
        
      </div>
    </section>

    <div class="album py-5 bg-dark">
      <div class="container">
        <h1 style="text-align:center;color:white">Portfolio Value</h1>
        <br>
        <div class="row ">

          <div class="col-md-10">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                {% with value.all|first as first_object %}
                {% load l10n %}
                {% localize on %}
                <h3 class="card-text"> Current Value:   $ {{ first_object.equity}} </h3>                         
                <h3 class="card-text"> Current Cash:   $ {{ first_object.cash }} </h3> <!-- |floatformat:2-->
                {% endlocalize %}
                {% endwith %} 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <html>
      <head>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
      </head>
      <body>

            <div class="center" style="text-align:center; float:center;">
              <br/>
              <canvas id="myChart" width="1200" height="400"></canvas>
            </div>
          
          <script>
var data = {
    labels: {{ labels|safe }},
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(42, 115, 42,0.7)",
            strokeColor: "rgba(147, 240, 147,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{ data|safe }}
        },
    ]
};

var ctx = document.getElementById("myChart").getContext("2d");
var myBarChart = new Chart(ctx).Line(data, {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero : true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(0, 0, 0, .2)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - If there is a stroke on each bar
    barShowStroke : true,

    //Number - Pixel width of the bar stroke
    barStrokeWidth : 2,

    //Number - Spacing between each of the X value sets
    barValueSpacing : 5,

    //Number - Spacing between data sets within X values
    barDatasetSpacing : 1,

});

</script>
      </body>






    <div class="album py-5 bg-dark">
      <div class="container">
        <br>
        <br>
        <h2 style="text-align:center;color:white">Current Holdings</h2>
        <br>
        <div class="row">

          {% for stock in holdings.all %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h4 class="card-text">{{ stock.ticker }} : {{ stock.current_price |floatformat:2}} </h4>
                <p class="card-text"> Equity: {{ stock.equity |floatformat:2}} </p>
                <p class="card-text"> Quantity: {{ stock.quantity |floatformat:2}} </p>
                <p class="card-text">Avg Cost: {{ stock.avg_cost |floatformat:2}} </p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Michael Streyle {% now "Y" %}</p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>